[Desktop Entry]
Version=1.0
Type=Application
Name=Caja
Comment=Caja File Manager
Exec=caja --sm-client-disable --no-desktop
Icon=system-file-manager
Path=
Terminal=false
StartupNotify=true
