[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Exec=/usr/lib/ioquake3/ioquake3
Name=quake
Comment=Play Quake 3
Icon=/usr/lib/ioquake3/ioquake3
Categories=Game;
Keywords=Game;
Name[en_GB]=Quake
X-XFCE-Source=file:///home/paulf/.local/share/applications/quake.desktop
Path=
Terminal=false
StartupNotify=false
