[user]
	name = Paul Fenney
	email = paul.fenney@pennantplc.co.uk
[color]
	ui = auto
	status = always
[core]
	excludesfile = /home/paulf/pfcfg/.pf-gitignore
    filemode = true
	attributesfile = /home/paulf/pfcfg/.gitattributes
	pager = less -S
[push]
	default = current
[diff]
	tool = meld
	renameLimit = 60000
[merge]
	tool = meld
	defaultToUpstream = true
[difftool]
	prompt = false
[mergetool]
	prompt = false
	keepBackup = false
[rerere]
	enabled = true
[diff "image"]
    tool = imgdiff
[difftool "imgdiff"]
	cmd = /home/paulf/hmrc-tools/imgdiff/imgdiff $LOCAL $REMOTE $MERGED
    trustExitCode = false
[gitflow "feature.start"]
	fetch = true
[gitflow "feature.finish"]
	fetch = true
[gitflow "hotfix.start"]
	fetch = true
[gitflow "hotfix.finish"]
	fetch = true
[gitflow "hotfix.release.start"]
[gitflow "release.start"]
	fetch = true
[gitflow "release.finish"]
	fetch = true
[log]
	date = local
[difftool "echo"]
[difftool "echo"]
	cmd = echo $MERGED
[alias]
	lg = log --color --graph --abbrev-commit\n           --pretty=format:'%Cred%h%Creset %Cgreen(%cd) %C(yellow)%d%Creset %s %C(bold blue)<%an>%Creset'
	up = !echo "cd $(git rev-parse --show-toplevel) # TYPE gu TO RUN THIS"
	back = checkout @{-1}
    hist = !git reflog | awk '/moving from/ { print $6 }' | head -10
[difftool "vbindiff"]
	cmd = vbindiff $LOCAL $REMOTE
[pull]
	ff = only
