[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Slack
Exec=/usr/bin/google-chrome-stable --profile-directory=Default --app-id=jeogkiiogjbmhklcnbgkdcjoioegiknm
Icon=chrome-jeogkiiogjbmhklcnbgkdcjoioegiknm-Default
StartupWMClass=crx_jeogkiiogjbmhklcnbgkdcjoioegiknm
X-XFCE-Source=file:///home/paulf/.local/share/applications/chrome-jeogkiiogjbmhklcnbgkdcjoioegiknm-Default.desktop
Comment=
Path=
StartupNotify=true
