#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Teams Calendar
Icon=teams
Exec=/usr/bin/chromium --app=https://teams.microsoft.com/v2/calendar --start-maximized %U
StartupWMClass=teams.microsoft.com__v2_calendar
Categories=Network;Office;WebBrowser;InstantMessaging;Chat;
Comment=Microsoft Office Teams (Chromium app) - Start in calendar view
